@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .height1{
        height: 650px;
    }
    .height2{
        height: 200px;
    }
    .height3{
        height: 2px;
    }
    .width{
        width: 500px;
    }
    .width1{
        width: 300px;
    }
    .width2{
        width: 180px;
    }
    .width3{
        width: auto;
    }
    .width5{
        width: 400px;
    }
}